body{
  font-family: Arial;
  background:#f3f3f3;
  margin:0;
  padding:20px;
}

.title{
  text-align:center;
}

.subtitle{
  text-align:center;
  margin-top:40px;
}

/* FORM */

.form-card{
  max-width:450px;
  background:#fff;
  margin:20px auto;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.form-card input,
.form-card textarea,
.form-card select{
  width:100%;
  padding:10px;
  margin-bottom:12px;
  border-radius:5px;
  border:1px solid #ccc;
}

.form-card button{
  width:100%;
  padding:12px;
  background:#0b3d2e;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

.form-card button:hover{
  background:#145c46;
}

/* PRODUCTS GRID */

.product-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  background:#fff;
  padding:10px;
  border-radius:10px;
  box-shadow:0 0 6px rgba(0,0,0,0.1);
  text-align:center;
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:6px;
}

.card button{
  background:red;
  color:white;
  border:none;
  padding:8px;
  width:100%;
  border-radius:5px;
  margin-top:8px;
  cursor:pointer;
}
