body{
  margin:0;
  font-family:Arial;
  background:#f2f2f2;
}

/* NAVBAR */

.amazon-navbar{
  background:#131921;
  color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 15px;
}

.nav-left{
  font-size:20px;
  font-weight:bold;
}

.nav-search{
  flex:1;
  display:flex;
  max-width:700px;
}

.nav-search select,
.nav-search input{
  border:none;
  padding:8px;
}

.nav-search button{
  background:#febd69;
  border:none;
  padding:8px 14px;
}

.nav-right{
  display:flex;
  gap:20px;
  font-size:13px;
}

/* CATEGORY BAR */

.categories{
  background:#232f3e;
  padding:10px;
  display:flex;
  gap:15px;
  color:white;
}

/* SLIDER */

.slider{
  height:300px;
  background:url("https://images.unsplash.com/photo-1542291026-7eec264c27ff");
  background-size:cover;
}

/* TITLES */

.title{
  margin:20px;
}

/* ROW */

.row{
  display:flex;
  gap:15px;
  padding:20px;
  overflow-x:auto;
}

/* GRID */

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
  gap:20px;
  padding:20px;
}

/* CARD */

.card{
  background:white;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,.2);
  cursor:pointer;
}

.card img{
  width:100%;
  height:160px;
  object-fit:cover;
}

.card .info{
  padding:10px;
}

.price{
  color:#0b3d2e;
  font-weight:bold;
}
