body{
    margin:0;
    font-family:Arial, sans-serif;
}

/* TOP BAR */

.top-bar{
    background:#0b3d2e;
    height:40px;
    padding:0 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

/* AUTH AREA */

#auth-area{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
}

#loginLink{
    color:white;
    text-decoration:none;
    font-size:14px;
}

#loginLink:hover{
    text-decoration:underline;
}

/* PROFILE */

#profileBox{
    display:none;
    align-items:center;
    gap:8px;
}

#userAvatar{
    width:40px;
    height:40px;
    border-radius:50%;
    cursor:pointer;
}

#userName{
    color:white;
    font-size:14px;
}

/* MAIN NAVBAR */

.main-navbar{
    background:white;
    height:85px;
    padding:0 40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
}

.nav-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo{
    height:45px;
}

.brand{
    font-size:22px;
    font-weight:bold;
}

/* CENTER MENU */

.nav-center{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-center a{
    text-decoration:none;
    color:black;
    font-size:16px;
}

.nav-center a:hover{
    color:#f1c40f;
}

/* FOOTER */

.footer{
    margin-top:60px;
    padding:20px;
    text-align:center;
    background:#0b3d2e;
}

.footer a{
    color:white;
    text-decoration:none;
    margin:0 10px;
}
