.prayer-form-card{
  max-width:600px;
  background:white;
  padding:35px;              /* more inner space */
  border-radius:12px;
  margin-top:20px;

  /* cleaner look */
  box-shadow:none;
  border:1px solid #e5e5e5;
}


.prayer-form-card label{
  font-weight:600;
  margin-bottom:6px;
  display:block;
}

.prayer-form-card input,
.prayer-form-card select,
.prayer-form-card textarea{
  width:100%;
  height:46px;               /* same height */
  padding:10px 12px;
  border-radius:6px;
  border:1px solid #ccc;
  margin-bottom:18px;
  font-size:14px;
  box-sizing:border-box;
}

.prayer-form-card textarea{
  height:140px;              /* bigger textarea */
  resize:vertical;
}


.submit-btn{
  background:#0b3d2e;
  color:white;
  border:none;
  padding:12px;
  border-radius:6px;
  cursor:pointer;
}

.submit-btn:hover{
  background:#145c46;
}

/* REQUEST LIST */

#requestList{
  max-width:600px;
  margin-top:30px;
}

.request-card{
  background:white;
  padding:15px;
  border-radius:8px;
  margin-bottom:12px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.status{
  font-size:13px;
  font-weight:bold;
  color:#0b3d2e;
}

.prayer-intro{
  color:#444;
  font-size:15px;
  line-height:1.6;
  margin-bottom:10px;
}

.prayer-subtext{
  color:#666;
  font-size:14px;
  margin-bottom:25px;
}

