body{
  margin:0;
  font-family:Arial;
  background:#f3f3f3;
  color:#000;
}

.dark{
  background:#121212;
  color:#fff;
}

.topbar{
  background:#0b3d2e;
  color:white;
  padding:15px;
  display:flex;
  align-items:center;
  gap:15px;
}

.topbar button{
  background:white;
  border:none;
  padding:6px 10px;
  border-radius:5px;
  cursor:pointer;
}

.container{
  max-width:450px;
  margin:30px auto;
  padding:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  margin-bottom:20px;
  box-shadow:0 2px 6px rgba(0,0,0,0.15);
}

.dark .card{
  background:#1e1e1e;
}

h3{
  margin-top:0;
}

button{
  background:#0b3d2e;
  color:white;
  border:none;
  padding:10px;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#145c46;
}

input, select{
  width:100%;
  padding:8px;
  margin:8px 0;
}

img{
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  display:block;
  margin-bottom:10px;
}

.danger button{
  background:#c0392b;
}

.danger button:hover{
  background:#e74c3c;
}
